                <a id="dLabel" role="button" href="/page.html" data-target="#" data-toggle="dropdown">
                  <i class="glyphicon glyphicon-globe"><span class="icon_counter icon_counter_red">8</span></i>
                </a>
                <ul class="dropdown-menu notifications" role="menu" aria-labelledby="dLabel">
                  <div class="notification-heading">
                    <h4 class="menu-title">Notifications</h4>
                    <h4 class="menu-title pull-right">View all<i class="glyphicon glyphicon-circle-arrow-right"></i></h4>
                  </div>
                  <li class="divider"></li>
                  <div class="notifications-wrapper">
                    <a class="content" href="#">
                      <div class="notification-item">
                        <h4 class="item-title">CRC has added an event that you might be interested in!</h4>
                        <p class="item-info">So you want to work in academia</p>
                      </div>
                    </a>
                    <a class="content" href="#">
                      <div class="notification-item">
                        <h4 class="item-title">CRC has updated an event</h4>
                        <p class="item-info">Start up Job and Internship Fair</p>
                      </div>
                    </a>
                    <a class="content" href="#">
                      <div class="notification-item">
                        <h4 class="item-title">Gator Nights added an event that you might be interested in!</h4>
                        <p class="item-info">Interstellar Movie on Friday</p>
                      </div>
                    </a>
                    <a class="content" href="#">
                      <div class="notification-item">
                        <h4 class="item-title">Latex workshop has been cancelled</h4>
                        <p class="item-info">ACM</p>
                      </div>
                    </a>
                    <a class="content" href="#">
                      <div class="notification-item">
                        <h4 class="item-title">UFSEC added an event that you might be interested in!</h4>
                        <p class="item-info">Intern Panel</p>
                      </div>
                    </a>
                    <a class="content" href="#">
                      <div class="notification-item">
                        <h4 class="item-title">UF added an event that you might be interested in!</h4>
                        <p class="item-info">Google Info Session</p>
                      </div>
                    </a>
                  </div>
                  <li class="divider"></li>
                  <div class="notification-footer">
                    <h4 class="menu-title">View all<i class="glyphicon glyphicon-circle-arrow-right"></i></h4>
                  </div>
                </ul>

